body {
  background-color: rgba(108, 119, 129, 0.582);
  text-align: center;
}

select {
  width: 160px;
  height: 35px;
}

option {
  font-size: large;
}

.legend {
  font-size: x-large;
  width: 85%;
  border: 1px solid black;
  padding: 3px 6px;
  cursor: pointer;
  display: inline-block;
}

legend::after {
  content: "▼";
  float: right;
}

.codigo {
  font-weight: bold;
  padding: 3px 0px 4px 5px;
  margin: 0px -5px 0px -5px;
  border: 1px solid black;
}

fieldset {
  width: fit-content;
  margin: 0 auto;
}

input {
  align-items: center;
  height: 20px;
  width: 105px;
}